html,body,div,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}
ul{ 
padding-left: 10px;
}

body {
  margin-top: .5em;
  margin-bottom: 1em;
  text-align: left;
  background-color: #F9F7ED;
  font: 14px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #333;
}

a:link {color: blue; text-decoration: none; }
a:visited {color: blue; text-decoration: none; }
a:hover {color: blue; text-decoration: none; }
a:active {color: blue; }



h2, h1 {
  padding: 0 0 .5em 0;
}

div#results h2 {
  font-size: small;
}

ul, li {
  margin: 0;
  list-style: none;
}


  .geosearch { 
    background-image:url(../images/select.jpg) !important;
  }  
  .pointer { 
    background-image:url(../images/pointer.png) !important;
  }  

.zoomin {
  background-image:url(../images/mfimg/icon_zoomin.png) !important;
  height:20px !important;
  width:20px !important;
}
.zoomout {
  background-image:url(../images/mfimg/icon_zoomout.png) !important;
  height:20px !important;
  width:20px !important;
}
.zoomfull {
  background-image:url(../images/mfimg/icon_zoomfull.png) !important;
  height:20px !important;
  width:20px !important;
}
.pan {
  background-image:url(../images/mfimg/icon_pan.png) !important;
  height:20px !important;
  width:20px !important;
}
.drawpoint {
  background-image:url(../images/mfimg/draw_point_off.png) !important;
  height:20px !important;
  width:20px !important;
}
.drawline {
  background-image:url(../images/mfimg/draw_line_off.png) !important;
  height:20px !important;
  width:20px !important;
}
.drawpolygon {
  background-image:url(../images/mfimg/draw_polygon_off.png) !important;
  height:20px !important;
  width:20px !important;
}


