html,body,div,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,p,blockquote,th,td{margin:0;padding:0;}
ul{ 
padding-left: 10px;
}

body {
  margin-top: .5em;
  margin-bottom: 1em;
  text-align: left;
  background-color: #F9F7ED;
  font: 14px/20px "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #333;
}

a:link {color: blue; text-decoration: none; }
a:visited {color: blue; text-decoration: none; }
a:hover {color: blue; text-decoration: none; }
a:active {color: blue; }



h2, h1 {
  padding: 0 0 .5em 0;
}

div#results h2 {
  font-size: small;
}

ul, li {
  margin: 0;
  list-style: none;
}

div.banner {
  background-color: #C3D9FF;
  padding: 4px 0 2px 0; 
  text-align: center;
  height: 110px;
  background: url('../images/rgis.jpg') center top no-repeat;
}

div.banner span.title {
  color: blue;
  font-weight: bold;
  text-align: left;
  padding: .2em;
  font-size: 2em;
  top: 0;
}


div.banner span.rgis {
  font-size: 1.48em;
}

div.banner span.attribution  {
  position: absolute;
  top: 50px;
  right: 0;
  font-family: 'Courier New';
  font-size: .8em;
  font-weight: normal;
  color: white;
  padding: 0 .2em 2em 0;
}

div.banner span.attribution a {
  color: white;
}

#page {
  background-color: #FFFFFF;
  width: 90%;
  min-width: 800px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  -moz-border-radius: 8px; 
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
  position: relative;
}

div#menu_wrapper {
  text-align: center;
  padding-top: 51px;
}



ul#mainmenu {
  background: url('../images/menubg.png') left top repeat-x;
  height: 32px;
}

ul#mainmenu li {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
}

ul#mainmenu li a {
  color: #fff;
  float: left;
  height: 31px;
  display: block;
  line-height: 30px;
  vertical-align: middle;
  padding: 0 10px;
/*  font-size: 12px; */
  text-decoration: none;
  background: url('../images/menu-item-border.png') left top no-repeat;
}

/*
ul#mainmenu li a:hover, ul#mainmenu li a.active {
  background: url('../images/menu-item-actibg.png') left top no-repeat;
}
*/

ul#mainmenu li.first a {
  background: none;
}

ul#mainmenu li.first a:hover, ul#mainmenu li.first a.active {
  background: url('../images/menu-item-actibg.png') left top no-repeat;
}

ul#mainmenu li.loginlogout
{
    float: right;
    right: 10px;
}


ul#mainmenu li#lastLeft{
    margin: 0;
    padding: 0;
    list-style: none;
    border-right: 1px solid #fff; 
    /* not sure why this was needed */
}

ul#mainmenu li#lastLeft a {
  color: #66FFFF;
}


ul#mainmenu li.loginlogout a:hover
{
    background: url('../images/menu-item-border.png') left top no-repeat;
}

div#content {
  min-height: 600px;
  clear: both;
  padding: 1em; 
  margin: 0 auto;
  overflow: auto;

}

div#datasets-content {
  min-height: 800px;
}

#content p, form {
  text-align: justify;
  padding: .5em;
}

div#search_area {
  margin:0 auto;
  width: 100%;
}

div#search_title {
  margin:0 auto;
  width: 200px;
  display: inline;
  float: left;
  padding-bottom: .5em;
}

div#search_title span {
  font-weight: bold;
  
}

table#search_area_frame td {
  vertical-align: top;
}

div#tree {
  padding: 0 0 1em 0;
  position: relative;
  top: 0;
}

div#tree  ul {
  padding: 0 .25em 0 0;
}

#isearch_container {
  width: 100%;
  height: 60px;
}

#browsesearcharea {
  min-height: 400px;
  min-width: 707px;
}

#features_table{
  display: block;
  height: 60px;
  width: 660px;
  padding: 1em 0 2em 3.4em;
  margin-left: auto;
  margin-right: auto;
}

#features_table li {
  width: 33%;
  display: inline;
}

#features_table a {
  text-align: center;
  text-decoration: none;
  width: 33%;
  float: left;
  padding-top: 6px;
  margin: 0 auto;
  height: 81px;
  z-index: 2;
 
}
#features_table a span {
  clear: right;
  display: block;
  height: 22px;
  position: relative;
  float: left;
}

#feature_table p {
  top: 0;
}

#features_table img {
  border: none;
}

#features_table li a div {
  display: none;
}

#features_table a:hover {
  text-decoration: none;
  color: #ccc;
}

#features_table a:visited {
  text-decoration: none;
  color: #000;
}

#features_table a.active {
  text-decoration:none;
  color: #ccc;
}

#features_table a.active span {
  color: #ccc;
  font-weight: bold;
  text-decoration: none;
}

#features_table a:hover span {
  text-decoration: none;
}


#features_table ul li {
  padding: 0;
  display: block;
}




div#footer {
/*
  position: absolute;
  bottom: 0;
*/
  padding: .5em 0 .5em 0;
  text-align: center;
  font-size: 87%;
  background-color: #EEEEEE;
  height: 50px;
  clear: left;
  width: 100%;
  border-top: #CCC 1px solid;
  -moz-border-radius: 8px; 
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

element.style {
  height: 100%;
}

div#footer img {
  border: 0;
  padding: 0 .25em;
  float: left;
}

div#center_region {
  padding: 0 .5em 1em 1em;
}

#center_region h1 {
  font-size: 16px;
  padding: .5em 0 .5em 0;
}

div#main_message  {
}

div#datasets_content {
  padding: 0 .5em .5em 0;
  margin: 0 auto;
}

/* instant search form */

form#isearch{
  margin: 0 5px  10px;
  padding: 0 0 5px;
}

form#isearch input[type=submit]{
  display: none;
}

#isearch input {
  width: 100px;
}
#isearch input#location {
  width: 220px;
}

#isearch input:focus {
  background: #eaeaea;
}


form#isearch span.advanced_search_link{
  float: right;
  padding-left: 1.5em;
}

div#results{
  min-width: 600px;
  width: 100%;
}


div#results div.result{
 margin-bottom: .25em;
 border-bottom: 1px solid #98AFC7; 
}

div.result div.description img.legend {
 text-align: left;
}

div.result div.description div.descriptiontitle {
 text-align: left;
  float: left;
  width: 90%;
}

div.result div.description div.title{
  padding: 0px;
  color: #2B3856; 
  float: right;
  width: 10%;
}


div#results div.result div a{
  text-decoration: none;
  color: green;
}

div#results div.result div.categories{
  font-size: smaller;
  clear: both;
}

div#results div.result p a {
  text-decoration: none;
 color: #E66C2C;
}


div#results div.result span.lastupdate{
  float: right;
}

span.highlight{
  background: #FCFFA3;
  padding: 3px;
  font-weight: bold;
}

div.resultcols {
  margin: auto;
  font-size: smaller;
  width: 100%;
}

div.resultcols div {
  display: inline;

}

div.resultcols div.resultcol1 {
  float: left;
  min-width: 240px;
}
div.resultcols div.resultcol2 {
  min-width: 190px;
}
div.resultcols div.resultcol3 {
  float: right;
}

div.resultcols  {
  clear: both;
}

div.resultcols  span.services {
  padding-left: 2em;  
}

#feature_content {
  height: 45px;
  padding: .25em 1em;
}
.selected_button {
  border: #CCC 1px solid;
  -moz-border-radius: 8px; 
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;  
  border-bottom: 1px solid #fff;
}
.unselected_button {
  background-color: none;
  border: transparent 1px solid;
  -moz-border-radius: 8px; 
  -webkit-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

}

.show_text {
  display: block;
}

#formats_legend {
  padding-bottom: 1.5em;

}

#registration-form {
  background: #99CC99; 
  -moz-border-radius: 5px;  /* mozilla */
  -webkit-border-radius: 5px; /* safari, chrome */ 
  -khtml-border-radius: 5px; /* Konqueror */
  border-radius: 5px;
  padding: 20px; 
  width: 440px;

}

#registration-form input[type:submit] {
  text-align: center;
}
#registration-form fieldset {
  border: none;
  margin-bottom: 10px;
  background:none no-repeat left 50%;
  line-height: 20px;
  padding: 0 0 0 30px;
  width: auto;
}

#registration-form fieldset:last-of-type {
  margin-bottom: 0;
}

#registration-form legend {
  color: #384313;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
  text-shadow: 0 1px 1px #c0d576;
}

#registration-form label {
  width: 140px;
  float: left;
}

#registration-form input {
  margin: 3px;
  height: 20px;
  width: 200px; 
}

#registration-form input:focus {
  background: #eaeaea;
}

#registration-form textarea {
  margin: 3px;
  height: 200px;
  width: 400px;
}

#registration-form textarea:focus {
  background: #eaeaea;
}

#registration-form button {
  background: #384313;
  border: none;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  -khtml-border-radius: 20px;
  border-radius: 20px;
  color: #ffffff;
  display: block;
  font: 18px Georgia, "Times New Roman", Times, serif;
  letter-spacing: 1px;
  margin: auto;
  padding: 7px 25px;
  text-shadow: 0 1px 1px #000000;
  text-transform: uppercase;
}

ul.errorlist {
  margin: 0;
  padding: 0;
}

.errorlist li {
  background-color: #FF7400; 
  color: white;
  display: block;
  font-size: 12px;
  margin: 0 0 3px;
  padding: 4px 5px;

}


div.result_header {
  height: 16px;
  width: 100%;
  border: #ccc solid 1px;
  padding: .25em;
  margin-bottom: .75em;
}

div.result_header div#result_header_lastupdate{
  float: right;
  display: inline;
  text-align: right;
  width: 30%;
}


div.result_header div#result_header_title{
  float: left;
  display: inline;
  width: 70%;
}
div.result_header img {
  border: 0;
}

.search_summary {
  float: right;
}

.noresults {
  font-weight: bold;
  font-size: 14px;
  color: #F62217;

}
