<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>GSTORE: Geographic Storage, Transformation and Retrieval Engine!</title>
        <link rel='stylesheet' href='/css/style.css'></link>
    </head>
    <body>
        <div id="page">
           <div id="header"> 
            <h1>GSTORE</h1>
                <h2>Geographic Storage, Transformation and Retrieval Engine</h2>
            </div>
            <div id="toplinks" style="display:none">
                <h2>Help</h2>
                <ul>
                    <li>
                        <a href="http://pylonshq.com/docs/en/1.0/">Official documentation</a>
                    </li>
                    <li>
                        <a href="http://wiki.pylonshq.com/display/pylonsfaq/Home">FAQ</a>
                    </li>
                    <li>
                        <a href="http://wiki.pylonshq.com/dashboard.action">Wiki</a>
                    </li>
                    <li>
                        <a href="http://wiki.pylonshq.com/display/pylonscommunity/Home#Home-JointheMailingLists">Mailing list</a>
                    </li>
                    <li>
                        <a href="http://wiki.pylonshq.com/display/pylonscommunity/Home#Home-IRC">IRC</a>
                    </li>
                    <li>
                        <a href="http://pylonshq.com/project/pylonshq/roadmap">Bug tracker</a>
                    </li>
                </ul>
            </div>
            <div id="main">
                <h2>REST API Reference</h2>
                <div id='rest'> <pre>${c.rest}</pre> </div>
            </div>
            <div id="footer">
                <a href="http://edac.unm.edu" style="color: #ccc; text-decoration:none;"><img src='/images/edac-logo.png' align='left' border='0' width='60px' alt='Earth Data Analysis Center' title='Earth Data Analysis Center'/></a>
                <a href='http://www.unm.edu'><img src='/images/unm-logo.gif' align='right' border='0' width='100px' alt='University of New Mexico' title='University of New Mexico'/></a>

 All content Copyright © 2011
  by the <a href="http://edac.unm.edu">Earth Data Analysis Center</a><br/> 
      <span>Send all comments to <a href="mailto:webmaster@edac.unm.edu">webmaster</a>.
      </span> 
            </div>
        </div>
    </body>
</html>
